<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>Home</ion-title>
    <ion-buttons end padding>
      <button ion-button icon-only color="royal" (click)="toggleMap()">
        <ion-icon [name]="showList ? 'map' : 'list'"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <div>
      <ion-segment [(ngModel)]="stopStatus">
        <ion-segment-button value="pending" (click)="showStops()">
          Pending
        </ion-segment-button>
        <ion-segment-button value="completed" (click)="showStops()">
          Completed
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="showList">
      <div [ngSwitch]="stopStatus">

        <ion-list *ngSwitchCase="'pending'">
          <ion-item-sliding *ngFor="let stop of pendingStops">
            <ion-item (click)="startTrip(stop)">
              <ion-avatar item-start>
                <div class="icon-wrapper">
                  <ion-icon name="sync" *ngIf="stop.type == 'sw'"></ion-icon>
                  <ion-icon name="arrow-round-up" *ngIf="stop.type == 'pu'"></ion-icon>
                   <ion-icon name="arrow-round-down" *ngIf="stop.type == 'do'"></ion-icon>
                 </div>
              </ion-avatar>
              <h2>{{ stop.address }}</h2>
              <h3>{{ stop.size }}</h3>
            </ion-item>  

            <ion-item-options side="right">
              <button ion-button (click)="complete(stop)">
                <ion-icon name="done-all"></ion-icon>
                Complete
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>

        <ion-list *ngSwitchCase="'completed'">
          <ion-item *ngFor="let stop of completedStops">
            <ion-avatar item-start>
              <div class="icon-wrapper">
                <ion-icon name="sync" *ngIf="stop.type == 'sw'"></ion-icon>
                <ion-icon name="arrow-round-up" *ngIf="stop.type == 'pu'"></ion-icon>
                 <ion-icon name="arrow-round-down" *ngIf="stop.type == 'do'"></ion-icon>
               </div>
            </ion-avatar>
            <h2>{{ stop.address }}</h2>
            <h3>{{ stop.size }}</h3>
          </ion-item>  
        </ion-list>

      </div>
    </div>

    <div [ngClass]="{'hidden': showList }">
      <div #map id="map"></div>
    </div>
</ion-content>
