page-home {
  .comment{
    background: #4cd964;
  }
}
.ios, .md {
    home-page {
        .scroll {
            height: 100%
        }
        .scroll-content{
          padding: 0
        }
        #map {
            width: 100%;
            height: 100%;
        }
    }
}

page-home #map {
  width: 100vw;
  height: calc(100vh - 150px);
}

page-home .hidden{
  visibility: hidden;
}

page-home .icon-wrapper{
  background: color($colors, primary);
  border-radius: 100%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 35px;
}